<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReaderBufferSizeReader" value="40960"/>
    <add key="ReaderBufferSizeWritter" value="81920"/>
    <add key="SearcherMethod" value="2"/>
    <add key="SearcherThreading" value="0"/>
    <add key="CountThreading" value="4"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>